<!-- FOOTER -->
<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>&copy; 2020–2021 <span id="trg" class="badge bg-secondary">The Rigney Group</span> &middot; <a href="#">Privacy</a> &middot; <a
      href="#">Terms</a></p>
</footer>

<!-- FOOTER toast -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="ico/favicon.png" class="rounded me-2" alt="...">
      <strong class="me-auto">dotmin</strong>
      <small>Right now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Minuscule JavaScript app framework! Brought to you by The Rigney Group
    </div>
  </div>
</div>